body {
  user-select: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.spaced {
  font-size: 100px;
  letter-spacing: 0.6em;
}

.pix-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.vec-layer {
  position: absolute;
  top: 0px;
  left: 0px;
}

.three-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}

.grad-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  background: radial-gradient(
    circle,
    rgb(50, 50, 50) 0%,
    rgb(25, 25, 25) 50%,
    rgb(0, 0, 0) 100%
  );
}

.handle:hover {
  fill: red !important;
}

circle {
  transition: r 0.02s linear;
  transition: opacity 0.25s linear;
}

svg text {
  font-family: sans-serif;
  font-size: 12px;
}

select {
  position: absolute;
  top: 20px;
  left: 20px;
}

button {
  position: absolute;
  top: 20px;
  left: 100px;
}

.explain {
  position: absolute;
  top: 20px;
  width: 35vw;
  right: 50px;
  font-size: 16px;
  line-height: 1.2em;
  user-select: text;
  /* font-family: sans-serif; */
}

code {
  font-size: 14px;
}
